body{
    background-color: rgb(192, 255, 245);
}

h1{
    color: rgba(10, 85, 198, 0.765);
    text-align: center;
    
    }

h2{
    color: rgba(10, 85, 198, 0.765);
    text-align: center;

}

h3{
    color: rgba(10, 85, 198, 0.765);
    text-align: center;

}



.quote {
    color: rgba(10, 85, 198, 0.765);
    font-style: italic;
    
    font-weight: bold;
}

